<!---<ActionBar title="{N} Modal Example"></ActionBar> width="75%"  dfdf-->

<GridLayout
    rows="*,7*,*"
    class="page-margin">
      <GridLayout row="0" class="title-bar">
        <Label class="title-learnmore" text="Learn more about HIV"></Label>
      </GridLayout>

    <GridLayout row="1"> 

        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal" class="scroll-menu">
               
                <GridLayout class="scroll-pane-initial">
                    <!--Initial Margin to center 1st content -->
                        <Label 
                        class="fa fa-angle-double-left arrows"
                        aria-hidden="true"
                        [text]="'fa-angle-double-left' | fonticon"></Label>
                </GridLayout>
                    
          <Image class="img-cont" src="res://wslide1"></Image>
            <Image class="img-cont" src="res://wslide2"></Image>
            <Image class="img-cont" src="res://wslide3"></Image>
            <Image class="img-cont" src="res://wslide4"></Image>
            <Image class="img-cont" src="res://wslide5"></Image>
            <Image class="img-cont" src="res://wslide6"></Image>
            <Image class="img-cont" src="res://wslide7"></Image>
            <Image class="img-cont" src="res://wslide8"></Image>

                <GridLayout class="scroll-pane-initial">
                    <!--Lsst Margin to center 1st content -->
                        <Label 
                        class="fa fa-angle-double-right arrows"
                        aria-hidden="true"
                        [text]="'fa-angle-double-right' | fonticon"></Label>
                </GridLayout>

            </StackLayout>
        </ScrollView>


    </GridLayout>

    <GridLayout row="2">
        <!--Footer -->
        <StackLayout class="footer-bg">
            <Label class="learn-more"
            text="Visit our Website!" 
            (tap)=launchSafelyWeb()></Label>
        </StackLayout>
      </GridLayout>

</GridLayout> 