/*************** TITLE *****************/

.page-margin {
    margin-left: 10dp;
    margin-right: 10dp;
}

.title-learnmore {
    color: rgba(38,38,38,0.87);
    font-size: 24sp;
    font-weight:bold;
    vertical-align: center;
    margin-left: 10dp;
    margin-top: 20dp;
}

.title-bar {
    border-bottom-width: 1dp;
    border-color: rgba(38,38,38,0.3);
    margin-left: 10dp;
    margin-right: 10dp;
}

/*************** SLIDER *****************/

.slider-bg {
    background-color: rgb(255,243,236); /* rgb(31,32,37,0.54);*/
    vertical-align: center;  
}

.scroll-menu {
    height: 390dp;
}

.scroll-pane-initial {
    background-color: rgb(255,255,255);
    width: 30dp;
    height: 390dp;
    margin: 10dp;
}

.scroll-pane {
    background-color: rgb(255,243,236);
   /* width: 240dp;
    height: 390dp; */
    margin: 10dp;
}

.temp-bgfill {
    background-color: red; /* rgb(31,32,37,0.54);*/
}

.arrows {
    color: rgba(38,38,38,0.5);
    font-size: 24sp;
    font-weight:bold;
    vertical-align: center;
    horizontal-align: center;
}


/*************** IMAGE CONTAINER *****************/

.img-cont {
    /*width: 240dp;
    height: 390dp; */
    margin: 10dp;
}

/* Share Button bottom right of image */
.action-button {
    font-size: 50sp;
    horizontal-align: center;
    vertical-align: center;
    margin: 10dp;
}

.action-label {
    color: rgb(31,32,37,0.54);
}

.more-button {
    font-size: 50sp;
    background-color: red;
    border: 2dp solid;
    border-radius: 25dp;
    margin: 10dp;

}

/*************** FOOTER / BUTTON *****************/

.footer-button {
    background-color: rgb(94,34,34); /* rgb(31,32,37,0.54);*/
    vertical-align: center;  
}


.footer-bg {
    background-color: rgb(178,97,54); /*rgb(31,32,37,0.54);*/
    vertical-align: center; 
    margin-left: 75dp;
    margin-right: 75dp;
    margin-bottom: 10dp;
    /*margin-top: 5dp;
    padding-top: 10dp;*/

}

.learn-more {
    color: rgb(255,255,255,1);
    horizontal-align: center;
    vertical-align: center;
    font-size: 24sp;
    font-weight:bold;
    margin-top: 5dp;
    margin-bottom: 5dp;
}
