/*************** FOOTER / BUTTON *****************/

.footer-bg {
    background-color: rgb(119,48,49);; /*rgb(31,32,37,0.54);*/
    vertical-align: center; 
    margin-left: 75dp;
    margin-right: 75dp;
    margin-bottom: 10dp;
    /*margin-top: 5dp;
    padding-top: 10dp;*/

}

.learn-more {
    color: rgb(255,255,255,1);
    horizontal-align: center;
    vertical-align: center;
    font-size: 20sp;
    font-weight:bold;
    margin-top: 5dp;
    margin-bottom: 5dp;
}