<!--**************************************
******************************************
            Locator Structure
Stack Layout
    *   Search Bar
    *   Map View
    *   Footer Bar
Overlapping
    * RadSideDrawer > ContentView > ListView
******************************************
***************************************-->

<!--
Search Events:

    initial state: 
        - view is:			map
        - currentItem is:	nearest
        - search bar is:	empty
        - search list is:	all items
        
    when search bar is clicked:
        - view is: 			search
        
    when search bar is being typed on:
        - view is:			search
        - search list is:	filtered items

    when search bar is entered (through keyboard.done())
        - (basically it does nothing)
        - search list is:	filtered items (

    when search bar is emptied
        - search list is: 	all items
        
    when item in search list is selected:
        - view is:			map
        - currentItem is:	selected item
        - search bar is:	search string
        - search list is:	filtered items
        
    when reset button is clicked:
        - (basically return to initial state)
        - view is:			current view
        - currentItem is:	nearest
        - search bar is:	empty
        - search list is:	all items
        
    when a segmented bar is clicked:
        - filter search list by segmented bar index 
-->

<StackLayout>

    <!-- Search Bar: horizontal-->    
    <StackLayout
        height="50" 
        orientation="horizontal">
        <Label
            class=" fa fa-long-arrow-left back-to-map-button"
            aria-hidden="true"
            visibility="{{ isMapActive ? 'collapsed' : 'visible' }}"
            [text]="'fa-long-arrow-left' | fonticon" 
            (tap)=goToMapView()></Label>
        <!--
        <Label
            *ngIf="!isMapActive"
            class=" fa fa-long-arrow-left back-to-map-button"
            aria-hidden="true"
            [text]="'fa-long-arrow-left' | fonticon" 
            (tap)=goToMapView()></Label>
        -->
        <SearchBar #searchBar
            col="1"
            text="" 
            hint="Where to?"
            row="0"></SearchBar>
    </StackLayout>

    <!--
    <SegmentedBar #tabs 
        class="segment-item"
        [items]="barItems" 
        [selectedIndex]="selectedIndex">
        </SegmentedBar>
    -->

    <!--MAP IS NOT ACTIVE-->
    <GridLayout
        *ngIf="!isMapActive">            

        <ContentView 
            class="results-view">

            <StackLayout>
        <!-- FILTER BUTTONS -->
            <GridLayout
                height="50dp"
                row="0"
                columns="*,*,*">
                
                <GridLayout
                    class="segment-button"
                    [class.active-type-test]="selectedCenter==getCenterTypeTesting()"
                    rows="3*,2*"
                    col="0"
                    (tap)="changeCenterType(getCenterTypeTesting())">
                        <Image row="0"
                            class="profile-img"
                            src="res://testingcenters"></Image>
                        <Label row="1"
                            class="segment-item" 
                            text="Hygiene Clinics"></Label>
                </GridLayout>

                <GridLayout
                    class="segment-button"
                    [class.active-type-treat]="selectedCenter==getCenterTypeTreatment()"
                    rows="3*,2*"
                    col="1"
                    (tap)="changeCenterType(getCenterTypeTreatment())">
                        <Image row="0"
                            class="segment-item-img"
                            src="res://treatmentcenters"></Image>
                        <Label row="1"
                            class="segment-item" 
                            text="Treatment Hubs"></Label>
                </GridLayout>

                <GridLayout
                    class="segment-button"
                    [class.active-type-condom]="selectedCenter==getCenterTypeCondom()"
                    rows="3*,2*"
                    col="2"
                    (tap)="changeCenterType(getCenterTypeCondom())">
                        <Image row="0"
                            class="segment-item-img"
                            src="res://condomstops"></Image>
                        <Label row="1"
                            class="segment-item" 
                            text="Condom Stops"></Label>
                </GridLayout>

            </GridLayout>


            <ListView #centerList 
                [items]="items"
                (itemTap)="onItemTap($event.index)">
                <ng-template 
                    let-item="item" 
                    let-i="index"
                    let-odd="odd"
                    let-even="even">

                    <GridLayout
                        rows="auto,auto"
                        columns="*,4*"
                        [class.odd]="odd"
                        [class.even]="even">

                        <StackLayout verticalAlignment="center"
                            horizontalAlignment="center"
                            rowSpan="2"            
                            col="0"
                            height="72dp"
                            width="48dp">
                        <Label
                            class="list-item-distance" 
                            [text]="item.distance ? item.distance.toFixed(1) + ' km' : 'N/A'"></Label>
                        </StackLayout>

                        <StackLayout verticalAlignment="bottom"
                            col="1"
                            row="0">
                        <Label 
                            class="list-item-inst"
                            [text]='item.institution'></Label>
                        </StackLayout>

                        <StackLayout verticalAlignment="top"
                            col="1"
                            row="1">
                        <Label
                            class="list-item-city" 
                            [text]='item.city'></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </ListView>
            </StackLayout>
        </ContentView>
    </GridLayout>

    <StackLayout
        *ngIf="isMapActive">
        
        <GridLayout width="100%" height="75%">
            <!-- Map View -->
            <MapView
                (mapReady)="onMapReady($event)"
                (markerSelect)="onMarkerSelect($event.marker.userData)"></MapView>

            <!-- things that go over map here -->
        </GridLayout>

        <!-- Bottom Bar / Footer -->
        <GridLayout #detailView
            width="100%"
            rows="3*,4*"
            columns="3*,6*,3*">

            <!-- FILTER BUTTONS -->
            <GridLayout
                class="filter-bar"
                row="0"
                colSpan="3"
                columns="*,*,*">
                
                <GridLayout
                    class="segment-button"
                    [class.active-type-test]="selectedCenter==getCenterTypeTesting()"
                    rows="3*,2*"
                    col="0"
                    (tap)="changeCenterType(getCenterTypeTesting())">
                        <Image row="0"
                            class="segment-item-img"
                            src="res://testingcenters"></Image>
                        <Label row="1"
                            class="segment-item" 
                            text="Hygiene Clinics"></Label>
                </GridLayout>

                <GridLayout
                    class="segment-button"
                    [class.active-type-treat]="selectedCenter==getCenterTypeTreatment()"
                    rows="3*,2*"
                    col="1"
                    (tap)="changeCenterType(getCenterTypeTreatment())">
                        <Image row="0"
                            class="segment-item-img"
                            src="res://treatmentcenters"></Image>
                        <Label row="1"
                            class="segment-item" 
                            text="Treatment Hubs"></Label>
                </GridLayout>

                <GridLayout
                    class="segment-button"
                    [class.active-type-condom]="selectedCenter==getCenterTypeCondom()"
                    rows="3*,2*"
                    col="2"
                    (tap)="changeCenterType(getCenterTypeCondom())">
                        <Image row="0"
                            class="segment-item-img"
                            src="res://condomstops"></Image>
                        <Label row="1"
                            class="segment-item" 
                            text="Condom Stops"></Label>
                </GridLayout>

            </GridLayout>


            <!-- SHC NAME, CITY, DISTANCE DISP -->
            <GridLayout
                class="footer"
                rows="*,*"
                columns="*,2*,*"
                row="1"
                col="0"
                colSpan="3">
                    <!-- SHC Name -->
                    <GridLayout 
                        class="cont-shc-city"  
                        colSpan="2"
                        row="0"
                        (tap)="onCurrentItemTap()">
                        <Label
                            class="inst-disp"
                            [text]="currentItem.institution"
                            marginLeft="15dp"></Label>
                    </GridLayout>
                    <!-- SHC Distance -->
                    <GridLayout
                        class="cont-distance1"
                        col="0"
                        row="1"
                        (tap)="onCurrentItemTap()">
                        <Label
                            width="100%"
                            class="distance-disp"
                            marginLeft="15dp"
                            [text]="currentItem.distance ? currentItem.distance.toFixed(1) + ' km' : ' '"></Label>
                    </GridLayout>
                    <!--SHC City-->
                    <GridLayout
                        class="cont-distance2"  
                        col="1"
                        row="1"
                        (tap)="onCurrentItemTap()">
                        <Label
                            class="city-disp"
                            [text]="currentItem.city"></Label>
                    </GridLayout>

                    <!-- GO TO DETAILS VIEW BUTTON -->
                    <GridLayout
                        class="footer-button"
                        col="2"
                        rowSpan="2"
                        (tap)="openLocatorDetail()">
                            <Image
                                class="detail-button"
                                src="res://detailsbuttonv2"></Image>
                    </GridLayout>

            </GridLayout>
            
            <!-- GO TO DETAILS VIEW BUTTON 
            <StackLayout class="cont-directions"
                class="footer"
                row="1"
                col="2"
                (tap)="openLocatorDetail()">
                    <Image
                        class="profile-img"
                        src="res://detailsbutton"></Image>
            </StackLayout>
            -->
        </GridLayout>
    </StackLayout>

</StackLayout>
