/*************** TEXT *****************/

/*Style for Header - Item List*/
.inst-disp {
    color: rgb(255,255,255,1);
    word-wrap: break-all;
    font-size: 20sp;
    font-weight:bold;
}

/*Style for Distance - Item List*/
.distance-disp {
    color:rgb(254,223,196); /*rgb(248,231,95,1); yellow*/
    font-size: 16sp;
    /*horizontal-align: center;*/
    vertical-align: bottom;
}

/*KM Labels*/
.km-label {
    color: rgb(255,255,255,0.54);
    font-size: 14sp;
    horizontal-align: center;
    vertical-align: bottom;
}

/*Style for SubHeader - Item List*/
.city-disp {
    color: rgb(255,255,255,0.54);
    font-size: 16sp;
    vertical-align: bottom;
}

/*************** BUTTONS ****************/

.detail-button {
    margin-left: 5dp;
    margin-right: 5dp;
    margin-top: 5dp;
    margin-bottom: 5dp;
    width: 75%;
    height: 75%;
}

/************** CONTAINERS **************/

.cont-distance1 {
    vertical-align: top;  
    margin-left: 10dp;    
}

.cont-distance2 {
    vertical-align: top;   
    margin-left: 10dp;   
}

.footer-button {
    background-color: rgb(94,34,34); /* rgb(31,32,37,0.54);*/
    margin-left: 5dp;
    margin-right: 5dp;
    margin-top: 5dp;
    margin-bottom: 5dp;
}