/***********************************************************************************
************************************************************************************
        Google Material Design
Text
*   Display:            45 sp   Regular     54%      
*   Display:            34 sp   Regular     54%      safely title
*   Headline:           24 sp   Regular     87%
*   Title:              20 sp   Medium      87%
*   Subheading:         16 sp   Regular     87%
*   Body1:              14 sp   Medium:     87%
*   Body2:              14 sp   Regular     87%      search bar
*   Caption:            12 sp   Regular     54%

Common Elements
*   Status bar:         24dp
*   Toolbar:            56dp    TabView Height, Footer Bar
*   Subtitle:           48dp    Search Bar
*   List item:          72dp
*   Side Space          16dp
************************************************************************************
***********************************************************************************/



/*****************************************
            SEARCH BAR
*****************************************/

/* nativescript-3-webpack: deprecated*/
SearchBar {
    height: 48dp; 
    font-size: 20sp;
    width: 100%;
    /* background-color:rgb(255, 255, 255, 0.87); */ /* breaks on Nativescript 3.0 */
}

/*Get Back to Map Button*/

.back-to-map-button {
    font-size: 20sp;
    margin-left: 20dp;
    margin-right: 10dp;
    vertical-align: center;
    /*horizontal-align: center;*/
}

.toggle-search {
    background-color:white;
    vertical-align: center;
    horizontal-align: left;
    margin-left: 30dp;
}

.toggle-search-label {
    font-size: 24sp;
}

.toggle-search-icon {
    font-size: 14sp;
    vertical-align: center;
}

/*****************************************
            DRAWER x LIST
*****************************************/

/*RadSideDrawer from Bottom*/
.drawer-main {
    margin-right: 16dp;
    margin-left: 16dp;
}

/*Drawer Content - container of ContentView > List View*/
.drawer-content {
    background-color: rgba(255, 255, 255, 0.87);
}

/*Content View*/
.results-view {
   background-color: transparent;
   /**margin-top: 65dp;**/     /** trial and error too offset initial scroll offshoot**/
}

/*Odd Numbered Entries in the List - in case needed for alternate formatting*/
.odd {
    background-color:rgba(255, 255, 255, 0.3);
}

/*Even Numbered Entries in the List - in case needed for alternate formatting*/
.even {
    background-color:rgba(255, 255, 255, 0.4);
}


/*****************************************
                ITEM
*****************************************/

/*Style for Distance/Image Placeholder - Item List*/
.list-item-dist {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20sp;
    font-weight:bold;
}

/*Style for Header - Item List*/
/* nativescript-3-webpack: deprecated */
.list-item-inst {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16sp;
    /*font-style:medium;*/
}

/*Style for SubHeader - Item List*/
.list-item-city {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14sp;
}


/*****************************************
                FOOTER
*****************************************/

/*Footer / Bottom Bar
Foot Height determined by Map Height in locator.html (75%)*/
.footer {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(94,34,34); 

  /*  background-color: rgb(255,255,255,0.87);
    color:rgb(31,32,37,1);    */

    margin-left: 5dp;
    margin-right: 5dp;
    margin-top: 5dp;
    margin-bottom: 5dp;
}

.footer-button {
    background-color: rgb(94,34,34); /* rgb(31,32,37,0.54);*/
}

/************** CONTAINERS **************/
.cont-arrow {
  background-color: rgb(31,32,37,1);
}

.cont-distance1 {
    vertical-align: top; 
    margin-left: 10dp;  
}

.cont-distance2 {
    vertical-align: top;   
}

.cont-shc-city {
  vertical-align: bottom;   
}

.cont-phone {
    width:56dp;
    vertical-align: center;  
}

.cont-directions {
    width:112dp;
    vertical-align: center;     
}

/*************** BUTTONS ****************/

/*Open Drawer / ArrowUp Button*/
.drawer-button {
    color: rgb(255,255,255,0.54); /*gray*/
    font-size: 35sp;
    horizontal-align: center;
}

/*Phone Button*/
.contact-button {
    color: rgb(132,216,89,1); /*green*/
    font-size: 45sp;
    horizontal-align: center;
}

/*Get Directions Button*/
.directions-button {
    color: rgb(103,169,216,1); /*blue*/
    font-size: 45sp;
    horizontal-align: center;
}

.detail-button {
    margin-left: 5dp;
    margin-right: 5dp;
    margin-top: 5dp;
    margin-bottom: 5dp;
}

/*****************************************
             SEGMENTED BAR
*****************************************/

/*Segment Bar - TOP (WITH SEARCH BAR)*/
.filter-bar-search {
    border-width: 1dp;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-bottom: 10dp;
}
/*Segment Bar - BOTTOM*/
.filter-bar {

    border-radius: 10dp;
    border-width: 1dp;
    margin-top: 5dp;
    padding-right: 10dp;
    padding-left: 10dp;
/*    border-bottom-color: rgba(0, 0, 0, 0.1);*/
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

/*Button*/
.segment-button {
    padding-top: 10dp;
    background-color:rgb(255,255,255,0.87);
    border-width: 1dp;
    border-radius: 0dp;
    border-left-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-top-color: transparent;
    border-bottom-color: transparent;

}

/*Segment Item Image*/
.segment-item-img {
    vertical-align: bottom;
}

/*Segment Item*/
.segment-item {
    color: rgba(0, 0, 0, 0.87);
    font-size: 12sp; /*from 14sp*/
    horizontal-align: center;
    vertical-align: bottom;
}

/* If Testing Center is Active*/
.active-type-test {
    background-color:rgb(254,223,196); /*rgb(241,225,86,0.25);*/
}

/* If Treatment Center is Active*/
.active-type-treat {
    background-color:rgb(254,223,196); /*rgba(132,216,92,0.25);*/
}

/* If Condom Stop is Active*/
.active-type-condom {
    background-color:rgb(254,223,196); /*rgba(92,156,200,0.25);*/
}

/*************** TEXT *****************/

/*Style for Distance - Item List*/
.distance-disp {
    color:rgb(254,223,196); /*rgb(248,231,95,1); yellow*/
    font-size: 20sp;
    /*horizontal-align: center;*/
    vertical-align: bottom;
}

/*KM Labels*/
.km-label {
    color: rgb(255,255,255,0.54);
    font-size: 14sp;
    horizontal-align: center;
    vertical-align: bottom;
}

/*Style for Header - Item List*/
.inst-disp {
    color: rgb(255,255,255,1);
    word-wrap: break-all;
    font-size: 24sp;
    font-weight:bold;
}

/*Style for SubHeader - Item List*/
.city-disp {
    color: rgb(255,255,255,0.54);
    font-size: 20sp;
    vertical-align: bottom;
}

/*Action Labels*/
.action-labels {
    color: rgb(255,255,255,0.54);
    font-size: 14sp;
    horizontal-align: center;
}