<GridLayout
    rows="*,4*,*,2*,*"
    columns="*,*"
    class="page-margin">

    <GridLayout row="0" colSpan="2" class="title-bar">
        <Label class="title-profile" text="Profile"></Label>
    </GridLayout>
    
    <GridLayout row="1" col="0">      
        <StackLayout row="0"
            verticalAlignment="center">
            <ContentView class="main-hex hexagon">
            <StackLayout verticalAlignment="center">
            <Image
                class="profile-img"
                [src]="user === null ? 'res://avatarsample' : user.profileImageURL"></Image>
            </StackLayout>
            </ContentView>
        </StackLayout>
    </GridLayout>
    
    
    <GridLayout row="1" col="1">
        <StackLayout 
            verticalAlignment="center">
            <Label 
                class="title-name"
                textWrap=true
                [text]="'What\'s up' + (user === null ? '' : ', ' + user.name) + '?'"></Label>
            <Label 
                text="Stay Safe!"></Label>
        </StackLayout>
    </GridLayout>

    <GridLayout row="2" col="0" class="section-bar">
        <Label 
            class="title-name-sub" 
            [text]="user === null ? 'Connect:' : 'Connected!'"></Label>
    </GridLayout>

    <GridLayout row="2" col="1" class="section-bar">
        <Label 
            *ngIf="user === null"
            class="fa fa-facebook-square logout-button logout-label"
            aria-hidden="true" 
            [text]="'fa-facebook-square' | fonticon"
            (tap)="login()"></Label>
        <Button
            *ngIf="user !== null"
            text="Logout"
            (tap)="logout()"></Button>
    </GridLayout>

    <GridLayout row="3" colSpan="2" class="section-bar">

    </GridLayout>
    
    
    <GridLayout row="4" colSpan="2" (tap)="openAboutUs()"> 
            <Label 
            class="about-button about-label"
            text="About #SafelyPH"></Label>
    </GridLayout>
      

</GridLayout>

