/*************** MAIN BACKGROUND *****************/

.top-bg {
    /*background-color:rgb(94,34,34); /* rgba(31,32,37,1); */
    background-color: rgba(255, 255, 255, 1);
}

.bottom-bg {
    /*background-color:rgba(255, 255, 255, 1); /* rgba(255, 255, 255, 1);*/
    background-color:rgb(94,34,34);
    vertical-align: center;
}

.page-margin {
    margin-left: 20dp;
    margin-right: 20dp;
    margin-bottom: 20dp;
}


/*************** TITLE *****************/

.title-profile {
    color: rgba(38,38,38,0.87);
    font-size: 24sp;
    font-weight:bold;
    vertical-align: center;
    margin-left: 10dp;
    margin-top: 20dp;
}

.title-bar {
    border-bottom-width: 1dp;
    border-color: white; /*rgba(38,38,38,0.3);*/
}

.title-name {
    color: rgba(38,38,38,0.87);
    font-size: 24sp;
    font-weight:bold;
    vertical-align: center;
    /*margin-left: 10dp;
    margin-top: 20dp;*/
}

.section-bar {
    border-top-width: 1dp;
    border-color: rgba(38,38,38,0.3);
}

.title-name-sub {
    color: rgba(38,38,38,0.87);
    font-size: 18sp;
    vertical-align: center;
    margin-left: 20dp;
}

/*************** POLYGONS *****************/

.main-hex {
  /*background-image: url("res://avatarsample");*/
    background-color: rgb(178,97,54);
    /*background-repeat: no-repeat;*/
    background-position: center;
    background-size: cover;
    width: 120dp;
    height: 120dp;
}

.sub-hex {
  /*background-image: url("res://avatarsample");*/
    border-width: 1dp;
    /*border-color: rgba(255, 255, 255, 1); 
    background-color: rgba(255, 255, 255, 1); */
    background-color:rgb(94,34,34);
    border-color:rgb(94,34,34);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100dp;
    height: 100dp;
}

.hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.circle {
    clip-path: circle(50% at 50% 50%);
}


.valley-gon {
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
    /*background-color: rgba(255, 255, 255, 1);*/
    background-color:rgb(94,34,34);
}

.fill-red {
    background-color: red;
}

.fill-blue {
    background-color: blue;
}


/*************** PROFIULE IMAGE *****************/

.profile-img {
    width: 80dp;
    height: 80dp;
    border-radius: 50%; /*circle image*/
    vertical-align: center;
}

.hi-user {
    font-size: 34sp;
    color:rgba(255, 255, 255, 1);
    horizontal-align: center;
    vertical-align: top;
}

/*************** ABOUT *****************/

.about-button {
    font-size: 15sp;
    horizontal-align: center;
    vertical-align: center;
}

.about-label {
    color:rgb(94,34,34);
    
}

/*************** LOGIN BUTTON *****************/

.logout-button {
    font-size: 30sp;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 30dp;
}

.logout-label {
    color: rgba(59, 89, 152,1);
}

.sub-hex-fb {
  /*background-image: url("res://avatarsample");
    border-width: 1dp;
    border-color: rgba(255, 255, 255, 1); */
    background-color: rgba(59, 89, 152,1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 35dp;
    height: 35dp;

}

.fb-button {
    margin-right:20dp;

}