<TabView #tabView
    row="1" 
    selectedIndex="1" 
    (selectedIndexChanged)="indexChanged($event)"
    [(ngModel)]="tabSelectedIndex"
    selectedColor="#FFFFFF"
    selectedTabTextColor="#5e2222"
    androidSelectedTabHighlightColor="#b26136"
    tabBackgroundColor="#FFFFFF"> <!--maroon bg: #5e2222", orange highlight: "#b26136"-->

        <StackLayout 
            *tabItem="{iconSource: 'res://userwhite'}"
            class="tab-left">
            <stc-profile #profile></stc-profile>
        </StackLayout>
        
        <StackLayout 
            *tabItem="{iconSource: 'res://safelyhome'}"
            class="tab-center">
            <stc-locator #locator></stc-locator>
        </StackLayout>


        <StackLayout
            *tabItem="{iconSource: 'res://feedwhite'}">
            <stc-learn #webview></stc-learn>
        </StackLayout>


</TabView>