.drawerContentText {
    font-size: 13;
    padding: 10;
}

.sideStackLayout {
    background-color:#212121;
}

.sideTitleStackLayout {
    padding: 10;
    text-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}

.fa-actionbar {
    font-size: 30;
    padding-left: 10;
    padding-right: 10;
}

.name-user {
    font-size: 25;
    color: white;
}

.edit-profile {
    font-size: 10;
    color: white;
}

.tabView {
    width: 50dp;
    height: 300;
}