.header-group {
    margin-left: 40dp;
    vertical-align: center;
}

/* Overlay to Dim Cover Image*/
.dim-layer {
    background-color: rgba(0,0,0,0.5);
}

/*Get Back to Map Button*/
.back-to-map-button {
    font-size: 34sp;
    color: rgba(255,255,255,0.54);
    margin-left: 20dp;
    margin-right: 10dp;
    margin-top: 10dp;
    vertical-align: top;
    horizontal-align: left;
}

.SHC-name {
    color: rgba(255,255,255,1);
    font-size: 30sp;
    font-weight: bold;
}

.SHC-address {
    color: rgba(255,255,255,0.87);
    font-size: 24sp;
    font-weight: bold;
}

.SHC-openhours{
    color: rgba(255,255,255,0.87);
    font-size: 16sp;
    font-weight: bold;
}

.SHC-hours-open {
    color: rgb(94,34,34);
}

.SHC-hours-closed {
    color: rgb(229,201,177);
}

.SHC-type-img {
    color: rgba(255,255,255,0.87);
    vertical-align:center;
    stretch: none;

    /*
    margin-top: 30dp;
    margin-bottom: 30dp;
    margin-left: 30dp;
    */
}

.SHC-type-text {
    color: rgba(255,255,255,0.87);
    vertical-align:center;
}

.SHC-number {
    vertical-align: center; 
    horizontal-align: center;
}

/*Phone Button*/
.contact-button {
    color: rgb(254,223,196); /*rgb(132,216,89,1); /*green*/
    font-size: 50sp;
    vertical-align:center;
    horizontal-align: center;
}

/*Get Directions Button*/
.directions-button {
    color: rgb(254,223,196); /*rgb(103,169,216,1); /*blue*/
    font-size: 50sp;
    vertical-align:center;
    horizontal-align: center;
}

.action-labels {
    horizontal-align: center;
    color:rgba(255,255,255,0.87);
}


.carousel-container {
    background-color:rgba(255,255,255,0.1);
    margin-left: 5dp;
    margin-right: 5dp;
    margin-top: 5dp;
    margin-bottom: 5dp;
    vertical-align:center;
}

.carousel-img {
   /* 
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;

    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%; */
}

.photos-section {
    vertical-align:center;
    border-width: 5dp;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.details-section{
    /*margin-left: 30dp;*/
}

.detail-container {
    margin-top: 10dp;
    margin-bottom: 10dp;
    margin-left: 20dp;
    margin-right: 20dp;
}

.detail-title {
    font-size: 20sp;
    font-weight: bold;
    color: rgb(94,34,34); 
}

.detail-body {
    font-size: 16sp;
}
