
<GridLayout
    rows="3*,2*,5*"
    height="100%"
    width="100%">

<!--40% HEIGHT ===============================================================================================-->
    
    <!--Header Image+Details -->
    <GridLayout 
        row="0"
        rows="*,2*,2*"
        height=100%>

        <!--Header Image, sakop lahat -->
        <GridLayout
            row="0"
            rowSpan="3"
            height=100%>
             <Image 
                class="cover-img"
                stretch="aspectFill" 
                src="{{ currentImages[0] ? 
                currentImages[0].url : 
                'https://upload.wikimedia.org/wikipedia/commons/b/bf/Seal_of_the_Department_of_Health_of_the_Philippines.png' }}" 
                ></Image>
        </GridLayout>
        

         <!-- Overlay to Dim Cover Image -->
        <GridLayout
            row="0"
            rowSpan="3">
            <StackLayout class="dim-layer"> </StackLayout>
        </GridLayout>

        <!--Back Button-->
        <GridLayout
            row="0">
            <!--Back Button-->
            <Label 
                class="fa fa fa-long-arrow-left back-to-map-button"
                aria-hidden="true"
                [text]="'fa-long-arrow-left' | fonticon"
                (tap)=closeLocatorDetail()></Label>
        </GridLayout>
        
        <!--Header Details -->
        <GridLayout row="1"
            class="header-group">
            <StackLayout 
                orientation="vertical">
                <Label 
                    class="SHC-name"
                    textWrap=true
                    [text]="currentItem.institution"></Label>
                <!--
                <Label 
                    class="SHC-address"
                    [text]="currentItem.address"></Label>
                
                <Label 
                    class="SHC-openhours"
                    text="OPEN NOW 08:00 AM to 05:00 PM"></Label>
                -->
            </StackLayout>
        </GridLayout>

        <!--SHC Type + Action Buttons-->
        <GridLayout 
            row="2"
            columns="3*,2*">

            <!--SHC Type-->
            <StackLayout 
                col="0"
                marginLeft="30"
                marginRigh="30"
                marginTop="5"
                marginBottom="5"
                orientation="vertical">
                <StackLayout 
                    margin="2"
                    orientation="horizontal"
                    *ngIf="isItemTesting()">
                    <Image
                        class="SHC-type-img"
                        src="res://testingcenters"></Image>
                    <Label 
                        class="SHC-type-text"
                        text="Hygiene Clinic"></Label>
                </StackLayout>
                <StackLayout 
                    orientation="horizontal"
                    margin="2"
                    *ngIf="isItemTreatment()">
                    <Image
                        class="SHC-type-img"
                        src="res://treatmentcenters"></Image>
                    <Label 
                        class="SHC-type-text"
                        text="Treatment Hub"></Label>
                </StackLayout>
                <StackLayout 
                    orientation="horizontal"
                    margin="2"
                    *ngIf="isItemCondom()">
                    <Image
                        class="SHC-type-img"
                        src="res://condomstops"></Image>
                    <Label 
                        class="SHC-type-text"
                        text="Condom Stop"></Label>
                </StackLayout>
            </StackLayout>

            <!--CALL-->
            <!--
            <GridLayout col="2"
                    (tap)="makeCall()">
                   <StackLayout>
                    <Label
                        class="fa fa-phone contact-button"
                        [text]="'fa-phone' | fonticon"></Label>
                    <Label class="action-labels"
                        text="CONTACT"></Label>
                   </StackLayout>
            </GridLayout>
            -->

            <!--DIRECTION-->
            <GridLayout col="1"
                (tap)="openDirections(currentItem.lat, currentItem.long)">
                   <StackLayout>
                    <Label
                        class="fa fa-location-arrow directions-button"
                        [text]="'fa-location-arrow' | fonticon"></Label>
                    <Label class="action-labels"
                        text="DIRECTIONS"></Label>
                   </StackLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>

<!--20% HEIGHT ===============================================================================================-->


    <!--Photo Section-->
    <!--
    <GridLayout 
        row="1"
        height="100%"
        class="photos-section">

        <ScrollView>
            <StackLayout 
                class="carousel-container"
                *ngFor="let item of currentImages">
                <Image
                    class="carousel-img"
                    [src]="item.url"
                    (tap)=openGallery()></Image>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    -->

    <GridLayout 
        row="1"
        *ngIf="!(   currentImages === undefined || 
                    currentImages === null ||
                    currentImages.length === 0)">
        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal">
                <GridLayout
                    margin="5dp" 
                    *ngFor="let item of currentImages">
                    <Image
                        [src]="item.url"
                        (tap)=openGallery()></Image>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

<!--40% HEIGHT ===============================================================================================-->
    
    <!--Other Details-->
    <GridLayout 
        [row]="!(   currentImages === undefined || 
                    currentImages === null ||
                    currentImages.length === 0) ? '2' : '1'"
        [rowSpan]="!(   currentImages === undefined || 
                    currentImages === null ||
                    currentImages.length === 0) ? '1' : '2'"
        class="details-section">

        <ScrollView>
            <StackLayout>

                <!-- Address -->
                <StackLayout class="detail-container">
                    <Label
                        class="detail-title"
                        text="Address"></Label>
                    <Label
                        class="detail-body"
                        textWrap=true
                        [text]="currentItem.address"></Label>
                </StackLayout>

                <!-- City and Region -->

                <GridLayout 
                    class="detail-container"
                    columns="*, *">

                    <!-- City --> 
                    <StackLayout
                        col="0">
                        <Label 
                            class="detail-title"
                            text="City"></Label>
                        <Label 
                            class="detail-body"
                            textWrap=true
                            [text]="currentItem.city"></Label>
                    </StackLayout>

                    <!-- Province/Region --> 
                    <StackLayout
                        col="1">
                        <Label 
                            class="detail-title"
                            text="Province & Region"></Label>
                        <Label 
                            class="detail-body"
                            textWrap=true
                            [text]="currentItem.province + ', ' + currentItem.region"></Label>
                    </StackLayout>
                </GridLayout>

                <!-- Clinic Hours -->
                <StackLayout class="detail-container">
                    <Label
                        class="detail-title"
                        text="Clinic Hours"></Label>
                    <GridLayout 
                        class="detail-body"
                        columns="*, *">

                        <!-- Weekends --> 
                        <StackLayout>
                            <GridLayout columns="*, 3*">
                                <Label text="SUN: "></Label>
                                <Label 
                                    col="1" 
                                    class="{{ currentItem.schedule.sunday.open ? 'SHC-hours-open' : 'SHC-hours-closed'}}"
                                    [text]="currentItem.schedule.sunday.open ? 
                                    currentItem.schedule.sunday.start +  ' - ' + currentItem.schedule.sunday.end :
                                    'CLOSED'"></Label>
                            </GridLayout>

                            <GridLayout columns="*, 3*">
                                <Label text="SAT: "></Label>
                                <Label 
                                    col="1" 
                                    class="{{ currentItem.schedule.saturday.open ? 'SHC-hours-open' : 'SHC-hours-closed'}}"
                                    [text]="currentItem.schedule.saturday.open ? 
                                    currentItem.schedule.saturday.start + ' - ' + currentItem.schedule.saturday.end :
                                    'CLOSED'"></Label>
                            </GridLayout>
                        </StackLayout>

                        <!-- Weekdays -->
                        <StackLayout
                            col="1">

                            <GridLayout columns="*, 3*">
                                <Label text="MON: "></Label>
                                <Label 
                                    col="1" 
                                    class="{{ currentItem.schedule.monday.open ? 'SHC-hours-open' : 'SHC-hours-closed'}}"
                                    [text]="currentItem.schedule.monday.open ? 
                                    currentItem.schedule.monday.start + ' - ' + currentItem.schedule.monday.end :
                                    'CLOSED'"></Label>
                            </GridLayout>

                            <GridLayout columns="*, 3*">
                                <Label text="TUE: "></Label>
                                <Label 
                                    col="1" 
                                    class="{{ currentItem.schedule.tuesday.open ? 'SHC-hours-open' : 'SHC-hours-closed'}}"
                                    [text]="currentItem.schedule.tuesday.open ? 
                                    currentItem.schedule.tuesday.start + ' - ' + currentItem.schedule.tuesday.end :
                                    'CLOSED'"></Label>
                            </GridLayout>

                            <GridLayout columns="*, 3*">
                                <Label text="WED: "></Label>
                                <Label 
                                    col="1" 
                                    class="{{ currentItem.schedule.wednesday.open ? 'SHC-hours-open' : 'SHC-hours-closed'}}"
                                    [text]="currentItem.schedule.wednesday.open ? 
                                    currentItem.schedule.wednesday.start + ' - ' + currentItem.schedule.wednesday.end :
                                    'CLOSED'"></Label>
                            </GridLayout>

                            <GridLayout columns="*, 3*">
                                <Label text="THU: "></Label>
                                <Label 
                                    col="1" 
                                    class="{{ currentItem.schedule.thursday.open ? 'SHC-hours-open' : 'SHC-hours-closed'}}"
                                    [text]="currentItem.schedule.thursday.open ? 
                                    currentItem.schedule.thursday.start + ' - ' + currentItem.schedule.thursday.end :
                                    'CLOSED'"></Label>
                            </GridLayout>

                            <GridLayout columns="*, 3*">
                                <Label text="FRI: "></Label>
                                <Label 
                                    col="1" 
                                    class="{{ currentItem.schedule.friday.open ? 'SHC-hours-open' : 'SHC-hours-closed'}}"
                                    [text]="currentItem.schedule.friday.open ? 
                                    currentItem.schedule.friday.start + ' - ' + currentItem.schedule.friday.end :
                                    'CLOSED'"></Label>
                            </GridLayout>

                        </StackLayout>
                    </GridLayout>
                </StackLayout>

                <!-- Services -->
                <StackLayout class="detail-container"
                    *ngIf="!(   currentItem.services === undefined || 
                                currentItem.services === null ||
                                currentItem.services.length === 0)">
                    <Label
                        class="detail-title"
                        text="Services"></Label>
                    <StackLayout 
                        marginLeft="5"
                        marginRight="5"
                        marginTop="5"
                        *ngFor="let item of currentItem.services">
                        <GridLayout
                            padding="3"
                            borderWidth="0.5"
                            borderColor="rgb(254,223,196)"
                            rows="*,*"
                            columns="3*, *">
                            <Label
                                paddingLeft="5"
                                class="detail-body"
                                row="0"
                                col="0"
                                textWrap=true
                                [text]="item.name"></Label>
                            <Label
                                *ngIf="!(item.details === undefined || item.details === null)"
                                marginLeft="20"
                                fontSize="13sp"
                                row="1"
                                col="0"
                                colspan="2"
                                textWrap=true
                                [text]="item.details"></Label>
                            <Label
                                class="detail-body"
                                row="0"
                                col="1"
                                color="rgb(94,34,34)"
                                [text]="item.price === 0 ? 'FREE' : '₱ ' + item.price"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <!-- Lab Tests -->
                <StackLayout class="detail-container"
                    *ngIf="!(   currentItem.labtests === undefined || 
                                currentItem.labtests === null ||
                                currentItem.labtests.length === 0)">
                    <Label
                        class="detail-title"
                        text="Laboratory Tests"></Label>
                    <StackLayout 
                        marginLeft="5"
                        marginRight="5"
                        marginTop="5"
                        *ngFor="let item of currentItem.labtests">
                        <GridLayout
                            padding="3"
                            borderWidth="0.5"
                            borderColor="rgb(254,223,196)"
                            rows="*,*"
                            columns="3*, *">
                            <Label
                                paddingLeft="5"
                                class="detail-body"
                                row="0"
                                col="0"
                                textWrap=true
                                [text]="item.name"></Label>
                            <Label
                                *ngIf="!(item.details === undefined || item.details === null)"
                                marginLeft="20"
                                fontSize="13sp"
                                row="1"
                                col="0"
                                colspan="2"
                                textWrap=true
                                [text]="item.details"></Label>
                            <Label
                                class="detail-body"
                                row="0"
                                col="1"
                                color="rgb(94,34,34)"
                                [text]="item.price === 0 ? 'FREE' : '₱ ' + item.price"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <!-- Facilities -->
                <StackLayout class="detail-container"
                    *ngIf="!(   currentItem.facilities === undefined || 
                                currentItem.facilities === null ||
                                currentItem.facilities.length === 0)">
                    <Label
                        class="detail-title"
                        text="Facilities"></Label>
                    <StackLayout 
                        *ngFor="let item of currentItem.facilities">
                        <Label
                            class="detail-body"
                            [text]="item.name"></Label>
                    </StackLayout>
                </StackLayout>

                <!-- Point of Contact -->
                <StackLayout class="detail-container"
                    *ngIf="!(   currentItem.poc === undefined || 
                                currentItem.poc === null)">
                    <Label
                        class="detail-title"
                        text="Contact Person"></Label>
                    <GridLayout
                        rows="*"
                        columns="3*, 2*">
                        <Label
                            class="detail-body"
                            row="0"
                            col="0"
                            textWrap=true
                            [text]="currentItem.poc.name"></Label>
                        <Label
                            class="detail-body"
                            color="rgb(229,201,177)"
                            row="0"
                            col="1"
                            textWrap=true
                            [text]="currentItem.poc.designation"></Label>
                    </GridLayout>
                </StackLayout>

                <!-- Counselors -->
                <StackLayout class="detail-container"
                    *ngIf="!(   currentItem.counselors === undefined || 
                                currentItem.counselors === null ||
                                currentItem.counselors.length === 0)">
                    <Label
                        class="detail-title"
                        text="Counselors"></Label>
                    <StackLayout 
                        *ngFor="let item of currentItem.counselors">
                        <GridLayout
                            rows="*"
                            columns="3*, 2*">
                            <Label
                                class="detail-body"
                                row="0"
                                col="0"
                                textWrap=true
                                [text]="item.name"></Label>
                            <Label
                                class="detail-body"
                                color="rgb(229,201,177)"
                                row="0"
                                col="1"
                                textWrap=true
                                [text]="item.designation"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <!-- Key Persons -->
                <StackLayout class="detail-container"
                    *ngIf="!(   currentItem.keys === undefined || 
                                currentItem.keys === null ||
                                currentItem.keys.length === 0)">
                    <Label
                        class="detail-title"
                        text="Key Persons"></Label>
                    <StackLayout 
                        *ngFor="let item of currentItem.keys">
                        <GridLayout
                            rows="*"
                            columns="3*, 2*">
                            <Label
                                class="detail-body"
                                row="0"
                                col="0"
                                textWrap=true
                                [text]="item.name"></Label>
                            <Label
                                class="detail-body"
                                color="rgb(229,201,177)"
                                row="0"
                                col="1"
                                textWrap=true
                                [text]="item.designation"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <!-- Doctors -->
                <StackLayout class="detail-container"
                    *ngIf="!(   currentItem.doctors === undefined || 
                                currentItem.doctors === null ||
                                currentItem.doctors.length === 0)">
                    <Label
                        class="detail-title"
                        text="Doctors"></Label>
                    <StackLayout 
                        *ngFor="let item of currentItem.doctors">
                        <GridLayout
                            rows="*"
                            columns="3*, 2*">
                            <Label
                                class="detail-body"
                                row="0"
                                col="0"
                                textWrap=true
                                [text]="item.name"></Label>
                            <Label
                                class="detail-body"
                                color="rgb(229,201,177)"
                                row="0"
                                col="1"
                                textWrap=true
                                [text]="item.designation"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <!-- Educators -->
                <StackLayout class="detail-container"
                    *ngIf="!(   currentItem.educators === undefined || 
                                currentItem.educators === null ||
                                currentItem.educators.length === 0)">
                    <Label
                        class="detail-title"
                        text="Educators"></Label>
                    <StackLayout 
                        *ngFor="let item of currentItem.educators">
                        <GridLayout
                            rows="*"
                            columns="3*, 2*">
                            <Label
                                class="detail-body"
                                row="0"
                                col="0"
                                textWrap=true
                                [text]="item.name"></Label>
                            <Label
                                class="detail-body"
                                color="rgb(229,201,177)"
                                row="0"
                                col="1"
                                textWrap=true
                                [text]="item.designation"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <!-- Contact Numbers --> 
                <StackLayout class="detail-container"
                    *ngIf="!(   currentItem.numbers === undefined || 
                                currentItem.numbers === null ||
                                currentItem.numbers.length === 0)">
                    <Label
                        class="detail-title"
                        text="Contact Numbers"></Label>
                    <StackLayout 
                        *ngFor="let item of currentItem.numbers">
                            <GridLayout
                                rows="*"
                                columns="*, auto, auto"
                                class="detail-body"
                                [class.odd]="odd"
                                [class.even]="even">

                                <Label
                                    class="SHC-number"
                                    col="0"
                                    [color]="item.main ? 'rgb(94,34,34)' : 'rgb(229,201,177)'"
                                    textWrap=true
                                    [text]="item.ext ? item.number + ' ext. ' + item.ext : item.number"></Label>

                                <Button
                                    col="1"
                                    class="fa"
                                    color="rgb(94,34,34)"
                                    backgroundColor="rgb(229,201,177)"
                                    [text]="'fa-phone' | fonticon"
                                    (tap)="makeCall(item.number)">
                                </Button>

                                <Button
                                    col="2"
                                    class="fa"
                                    color="rgb(94,34,34)"
                                    backgroundColor="rgb(229,201,177)"
                                    visibility="{{ item.type == 'landline' ? 'hidden' : 'visible' }}" 
                                    [text]="'fa-comments-o' | fonticon"
                                    (tap)="sendSMS(item.number)"></Button>
                              
                            </GridLayout>
                    </StackLayout>
                </StackLayout>

            </StackLayout>
        </ScrollView>

    </GridLayout>

<!--==========================================================================================================-->

</GridLayout>